### Set Up

In [2]:
import pandas as pd
import numpy as np

companies = pd.DataFrame(np.array([
    [1, 'Google', '1600 Amphitheatre Parkway Mountain View, CA 94043'],
    [2, 'Apple', '1 Infinite Loop Cupertino, CA 95014'],
    ]), columns=['id', 'name', 'address'])
employees = pd.DataFrame(np.array([
    [1, 'John', 36, 1],
    [2, 'Alice', 45, 3],
    ]), columns=['id', 'name', 'age', 'company_id'])
print(f"Companies table:\n{companies}\n")
print(f"Employees table:\n{employees}\n")

Companies table:
  id    name                                            address
0  1  Google  1600 Amphitheatre Parkway Mountain View, CA 94043
1  2   Apple                1 Infinite Loop Cupertino, CA 95014

Employees table:
  id   name age company_id
0  1   John  36          1
1  2  Alice  45          3

### Solution Implementation

In [21]:
def merge_tables(companies: pd.DataFrame, employees: pd.DataFrame) -> pd.DataFrame:
    res = pd.merge(employees, companies, how="left", left_on='company_id', right_on='id')[['name_x', 'age', 'name_y', 'address']]
    res.rename(columns={'name_x': 'name', 'name_y': 'company_name', 'address': 'company_address'}, inplace=True)
    return res

### Output Result

In [22]:
output = merge_tables(companies, employees)
print(f"Output:\n{output}")

Output:
    name age company_name                                    company_address
0   John  36       Google  1600 Amphitheatre Parkway Mountain View, CA 94043
1  Alice  45          NaN                                                NaN